@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    @foreach (var path in Model.Paths)
    {
        <div>@String.Join(" ", path);</div>
    }
<input type="button"
       value="Go Somewhere Else"
       onclick="location.href='@Url.Action("Test", "Home")'" />


@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Wyślij" />
}

@if (ViewBag.FileContent != null)
{
    <h2>Zawartość pliku:</h2>
    <p>@ViewBag.FileContent</p>
}


