@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach (var point in Model.Points)
    {
        @String.Join(", ", point); <br />
    }
</div>
<div>
    @foreach (var path in Model.Paths)
    {
        @String.Join(" ", path); <br />
    }
</div>
<input type="button"
       value="Generate Matrix"
       onclick="location.href='@Url.Action("Test", "Home")'" />


@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Wyślij" />
}
